{% comment %} <div class="pagination"> {% endcomment %}
<nav aria-label="Page navigation example">
  {% comment %} <span class="step-links"> {% endcomment %}
  <ul class="pagination">
    {% if page.has_previous %}
        <li class="page item">
            <a class="page-link" href="?page={{ page.previous_page_number }}">
                Previous
            </a>
        </li>
    {% endif %}
    {% comment %} <span class="current">
      Page {{ page.number }} of {{ page.paginator.num_pages }}.
    </span> {% endcomment %}
    {% if page.has_next %}
        <li class="page item">
            <a class="page-link" href="?page={{ page.next_page_number }}">
                Next
            </a>
        </li>
    {% endif %}
    </ul>
  {% comment %} </span> {% endcomment %}
</nav>
{% comment %} </div> {% endcomment %}
